.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 27, 161);
    width: 150px;
}
.box{ 
    /*position: absolute;*/
    background: linear-gradient(180deg, #102986 33.78%, rgba(42, 78, 212, 0.87) 101.93%);
    padding: 15px;
    height: 680px; ;
    color: aliceblue;
    }
    fieldset{
        border: 3px solid rgb(226, 241, 16);
        height: 660px; ;
    }
    legend
    {
      border: 1px solid rgb(13, 44, 216);
      padding: 10px;
      /*text-align: center;*/   /*se quiser alinhar o titulo*/
      background-color: rgb(226, 241, 16);
      border-radius: 5px;
      color: rgb(13, 44, 216);
    }
    .caixatexto{
        position: relative;
    }
    .minititulo{
        background: none;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        color: white;
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;  /*espasamento de letras*/
    }
    
       
   

    

    button {
      font-weight: 800;
    text-transform: uppercase;
    background-color: #1F3173;
    color: #d9d9d9;
    font-family: "Audiowide", sans-serif;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #8a94f7 33.78%, #2401a3 101.93%);
    border: 1px solid #c7c6c6;
    background-color: #c3c3c3e8;
    margin-left: 40px;
    margin-top: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.50), 0px 4px 4px 0px rgba(0, 0, 0.25, 0.50);
      }
      
      button:hover {
        background: #c4e201;
      }
      
      button > svg {
        width: 34px;
        margin-left: 10px;
        transition: transform .3s ease-in-out;
      }
      
      button:hover svg {
        transform: translateX(5px);
      }
      
      button:active {
        transform: scale(0.95);
      }
      